.root{
    padding: 0;
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 1120px;
    padding-bottom: 40px;
}

#divider{
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

body {
    border: black 4px solid;
    width: 1120px;
    margin: auto;
    padding: 80px;
}

#title-list {
    width: 1120px;
    padding-top: 40px;
}


img {
    box-sizing: border-box;
    border-radius: 28px;
    width: 1120px;
    max-width: 100%;
    height: auto;
}

#busandenoite {
    height: 660px;
}

ol{
    padding-inline-start: 0px;
    width: 1120px;
    text-align: justify;
    list-style-position: inside;
    box-sizing: border-box;
    padding-top: 64px;
}

#container1 {

}

ul {
    padding-inline-start: 0px;
    box-sizing: border-box;
    padding-bottom: 48px;
}

#container {
    box-sizing: border-box;
}
